h1 {
color: #696969	;
padding: 0px;
/*margin-left: 50px;*/
margin: auto;
font-family: 'Sacramento', cursive;
font-size: 90px;
/*background-color: white;*/
display: block;
text-align: center;
/*block-size: 100px;*/
}

body {
	background-image: url("amy-shamblen-pJ_DCj9KswI-unsplash.jpg ");
        background-repeat:no-repeat;
       background-size:cover;
}
/*First and second home pages */
.rightBar {
	float:right;
	width: 270px;
	height: 900px;
	background-color: #FFF2F5;
	padding-top: 0px;
	padding-right: 10px;
	padding-left:10px;
	margin-right: 30px;
}

/*Product details page*/
.rightBarDetails {
	float:right;
	width: 400px;
	height: 700px;
	background-color: #FFF2F5;
	padding-top: 0px;
	padding-right: 10px;
	padding-left:10px;
	margin-right: 30px;
}

.leftBarDetails {
	float:left;
	width: 880px;
	height: 700px;
	background-color: #FFF2F5;
	padding-top: 0px;
	padding-right: 10px;
	padding-left:10px;
	margin-left: 50px;
}

.column {
  float: left;
  width: 33.33%;
}

/*First and second home pages */
.leftBar {
	float:left;
	background-color: #FFF2F5;
	margin-left: 30px;

}


/* search bar
.h2 .search-container button {
  float: right;
  padding: 6px;
  margin-top: 12px;
  margin-right: 26px;
  background: #ddd;
  font-size: 27px;
  border: none;
  cursor: pointer;
} search bar */

/* Style the search field */
.form input {
  padding: 5px;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 12px;
  border: 3px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
.form button {
  float: left;
  padding: 10px;
  background: rgba(245, 146, 169, 1.00);
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-left: 55px;
  margin-top: 10px;
  font-family: 'Patrick Hand', cursive;
}

.text{
color: #696969	;
/*margin-left: 800px; */
float:right;
font-family: 'Patrick Hand', cursive;
font-size: 30px;
display: inline-block;
text-align: center;
/*width: 250px;
height: 1000px; */
padding-top: 0px;
padding-right: 10px;
padding-left:10px;
}

/*Glaze options */
.GlazeDetails{
color: #696969	;
float:right;
font-family: 'Patrick Hand', cursive;
font-size: 30px;
display: inline-block;
text-align: center;
padding-top: 0px;
padding-right: 10px;
padding-left:10px;
position:absolute;
top:120px;
left:1090px;
}

/*Quantity options */

.QuantityDetails{
color: #696969	;
float:right;
font-family: 'Patrick Hand', cursive;
font-size: 30px;
display: inline-block;
text-align: center;
padding-top: 0px;
padding-right: 10px;
padding-left:10px;
position:absolute;
top:320px;
left:1090px;
}

.text2{
	color: #696969	;
	/*margin-left: 800px; */
	float:right;
	font-family: 'Sacramento', cursive;
	font-size: 65px;
	display: inline-block;
	text-align: left;
	/*width: 250px;
	height: 1000px; */
	padding-top: 0px;
	padding-right: 10px;
	padding-left:20px;
	margin-bottom:-30px;
}



/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(230, 127, 152, 0.56);
  font-family: 'Patrick Hand', cursive;
  font-size:20px;
  color: black;
}

li {
  float: right;
}


li a {
  color: black;
  display: block;
  opacity:1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*grid */
.grid-container {
  display: grid;
  grid-template-columns: 460px 460px 460px;
  grid-gap: 10px;
  padding: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
	font-family: 'Patrick Hand', cursive;
}

.addToCart button {
  padding: 10px;
  background: rgba(245, 146, 169, 1.00);
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  font-family: 'Patrick Hand', cursive;
	height:45.18px;
	width: 100.68px;
	margin-top:10px;
	text-align: center;
}

/*this made clickable link*/
.addToCart3:link, .addToCart3:visited {
  background-color: rgba(245, 146, 169, 1.00);
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	/*margin-top: 10px;*/
	border: 1px solid rgba(230, 127, 152, 0.56);
	font-family: 'Patrick Hand', cursive;
}

/*all products page*/
.item1 {
  grid-row: 1 / 10;
	height:300px;
	width:450px;
}
/*hovering over products*/
.overlay {
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 140px;
  right: 0;
  height: 180.18px;
  width: 211.68px;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF2F5;
}

.item1:hover .overlay {
  opacity: .8;
}

.item2 {
  grid-row: 1 / 10;
	height:300px;
	width:450px;
}

.item3 {
  grid-row: 1 / 10;
	height:300px;
	width:450px;
}

.item4 {
  grid-row: 11 / 20;
	height:300px;
	width:450px;
}

.item5 {
  grid-row: 11 / 20;
	height:300px;
	width:450px;
}

.item6 {
  grid-row:11 / 20;
	height:300px;
	width:450px;
}


/*all products page*/
.productImageText {
	color: #696969	;
	/*margin-left: 800px; */
	font-family: 'Patrick Hand', cursive;
	font-size: 24px;
	display: inline-block;
	text-align: center;
	/*width: 250px;
	height: 1000px; */
	padding-top: 50px;
	float:left;
	padding-right: 10px;
	padding-left:10px;
	}

.hoverImageText {
	color: #696969	;
	/*margin-left: 800px; */
	font-family: 'Patrick Hand', cursive;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-left:10px;
  }

/*Product Details Glaze*/
	.glaze-group button {
	  background-color: #FFF2F5;
		font-size: 18px;
	  color: #696969;
	  cursor: pointer;
		border: 1px solid rgba(230, 127, 152, 0.56);
		text-align:center;
		width:150px;
		height:50px;
		font-family: 'Patrick Hand', cursive;
	}

	/*Quantity Details Glaze*/
		.quantity-group button {
		  background-color: #FFF2F5;
			font-size: 18px;
		  color: #696969;
		  cursor: pointer;
			border: 1px solid rgba(230, 127, 152, 0.56);
			text-align:center;
			width:50px;
			height:50px;
			font-family: 'Patrick Hand', cursive;
		}

/*Product details add to cart */
		.addToCart2 button {
		  padding: 10px;
		  background: rgba(245, 146, 169, 1.00);
		  color: white;
		  font-size: 18px;
		  border: 1px solid grey;
		  border-left: none; /* Prevent double borders */
		  cursor: pointer;
		  font-family: 'Patrick Hand', cursive;
			height:69.18px;
			width: 100.68px;
			margin-top:10px;
			text-align: center;
		}

		/*Bun name on product details*/
		.BunName{
		color: #696969	;
		float:right;
		font-family: 'Patrick Hand', cursive;
		font-size: 30px;
		display: inline-block;
		text-align: center;
		padding-top: 0px;
		padding-right: 10px;
		padding-left:10px;
		position:absolute;
		top:120px;
		left:400px;
		}

		/*Bun description on product details*/
		.BunDetails{
		color: #696969	;
		font-family: 'Patrick Hand', cursive;
		font-size: 18px;
		display: block;
		text-align: center;
		padding-top: 0px;
		padding-right: 10px;
		padding-left:10px;
		position:absolute;
		top:180px;
		left:160px;
		}

		/*Decision Details Glaze*/
			.decision-group button {
				padding: 10px;
			  background: rgba(245, 146, 169, 1.00);
			  color: white;
			  font-size: 18px;
			  border: 1px solid grey;
			  border-left: none; /* Prevent double borders */
			  cursor: pointer;
			  font-family: 'Patrick Hand', cursive;
				height:69.18px;
				width: 100.68px;
				margin-top:10px;
				text-align: center;
			}

/*contact form information*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F592A9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.container {
  border-radius: 5px;
  background-color: #FFF2F5;
  padding: 20px;
	margin:10px;
}

.contact {
	color: #696969	;
	padding: 0px;
	/*margin-left: 50px;*/
	margin: auto;
	font-family: 'Patrick Hand', cursive;
	font-size: 22px;
	/*background-color: white;*/
	display: block;
	text-align: center;
	/*block-size: 100px;*/
	}
}
